In [ ]:
import pandas as pd
import sklearn as sk
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

import warnings
warnings.filterwarnings('ignore')

#from scipy.stats import norm
#from sklearn.model_selection import train_test_split
#from sklearn.model_selection import cross_val_score
#from sklearn.model_selection import cross_val_predict
#from sklearn.model_selection import GridSearchCV
#from sklearn.model_selection import StratifiedKFold
#from sklearn.metrics import mean_squared_error
#from sklearn.linear_model import LinearRegression
#from sklearn.linear_model import Ridge
#from sklearn.preprocessing import PolynomialFeatures
#from sklearn.preprocessing import StandardScaler
#from sklearn.ensemble import RandomForestRegressor
#from sklearn.pipeline import pipeline
#from sklearn.externals import joblib

In [37]:
#function to load the data into a pandas dataframe
Sal_data1 = pd.read_csv(r'C:\Users\chandan\Downloads\Salary_Data.csv')
Sal_data1.head()

    #clean the data - remove duplicates and salaries that are $0

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

        # Number of Rows and Columns:

In [38]:
Sal_data1.shape

(6704, 6)

In [39]:
Sal_data1.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [40]:
Sal_data1.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [41]:
Sal_data1.dtypes

Age                    float64
Gender                  object
Education Level         object
Job Title               object
Years of Experience    float64
Salary                 float64
dtype: object

In [42]:
Sal_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [44]:
Sal_data[Sal_data.duplicated()]

Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []

In [45]:
Sal_data1 = Sal_data.drop_duplicates(keep = 'first')

In [48]:
Sal_data1.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [49]:
Sal_data1.dropna(how = 'any', inplace=True)

In [50]:
Sal_data1.shape

(1787, 6)

In [51]:
Sal_data1.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [52]:
Sal_data1.describe()

               Age  Years of Experience         Salary
count  1787.000000          1787.000000    1787.000000
mean     35.139899             9.156128  113184.659765
std       8.213045             6.844924   51596.536766
min      21.000000             0.000000     350.000000
25%      29.000000             3.000000   70000.000000
50%      33.000000             8.000000  110000.000000
75%      41.000000            13.000000  160000.000000
max      62.000000            34.000000  250000.000000

In [60]:
corr = Sal_data1[['Age', 'Experience_years','Salary']].corr()
corr

KeyError: "['Experience_years'] not in index"

In [57]:
sns.heatmap(corr, annot = True)

NameError: name 'corr' is not defined

In [59]:
Sal_data['Degree'].value_counts()

KeyError: 'Degree'

In [35]:
Sal_data['Degree'].value_counts().plot(kind = 'bar')

KeyError: 'Degree'